* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.App {

    background-color: rgb(78, 78, 78);
}

.blur{
    filter: blur(4px);
}


.mainBody {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.body {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.title {
    font-size: 2em;
    font-weight: 800;
    margin: auto;
    display: block;
    padding: 1em;
    border-radius: 2em;
    color: rgba(0, 195, 255);
    box-shadow: 0px 0px 20px 10px wheat;
}

.total {
    font-weight: 800;
}

.information {
    /* border: 1px solid blue; */
    padding: 2em;
    margin: auto;
    background-color: rgb(0, 195, 255);
    border-radius: 2em;
    /* box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 1); */
    /* box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, .33); */
    box-shadow: 0px 0px 20px 10px rgba(0, 195, 255, .66);
}

.totalValue {
    background-color: wheat;
    border-radius: 2em;
    padding: 2em;
    /* margin: 1em 8em; */
    margin: auto;
    width: 250px;
}

.token {
    display: flex;
    margin: 1em;
    gap: 1em;
    align-items: flex-end;
}

.ticker {
    font-weight: 800;
}

.data {
    display: flex;
    gap: .2em;
}

.data h5 {
    color: rgb(68, 68, 68);
}

.value {
    font-weight: 600;
}

.refresh {
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: .7em;
    border-radius: 1em;
    border: 0px solid black;
    color: rgb(78, 78, 78);
    background-color: rgb(255, 255, 255, .8);
    box-shadow: 0px 0px 15px 5px rgba(0, 195, 255, .66);
}

.icon {
    width: 2em;
    height: 2em;
}

.timestamp {
    font-weight: bold;
    margin-top: .25em;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
    /* font-size: 300; */
    color: white;
    height: 4em;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: 10;

}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}